@import "tailwindcss";
@import "shadcn/tailwind.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* global CSS */

@theme inline {
  /* Fonts */
  --font-heading: var(--font-space-grotesk);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  /* Semantic colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);

  /* radius scale */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.1469 0.0041 49.25);
  --primary: oklch(0.8369 0.1644 84.43);
  --primary-foreground: oklch(0.1871 0.0255 54.63);
  --secondary: oklch(0.1908 0.0077 48.3);
  --secondary-foreground: oklch(0.9699 0.0013 106.42);
  --accent: oklch(0.8369 0.1644 84.43);
  --accent-foreground: oklch(0.1871 0.0255 54.63);
  --surface: oklch(0.1908 0.0077 48.3);
  --surface-hover: oklch(0.2737 0.0147 39.28);
  --card: oklch(0.1908 0.0077 48.3);
  --card-hover: oklch(0.2737 0.0147 39.28);
  --card-foreground: oklch(0.9699 0.0013 106.42);
  --border: oklch(0.2737 0.0147 39.28);
  --border-hover: oklch(0.7161 0.0091 56.26);
  --foreground: oklch(0.9699 0.0013 106.42);
  --muted: oklch(0.7161 0.0091 56.26);
  --muted-foreground: oklch(0.7161 0.0091 56.26);
  --popover: oklch(0.1908 0.0077 48.3);
  --popover-foreground: oklch(0.9699 0.0013 106.42);
  --ring: oklch(0.8369 0.1644 84.43);
  --destructive: oklch(0.577 0.245 27.325);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
 
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-heading;
  }

  code, pre, kbd {
    @apply font-mono;
  }
}